@import "theme";

.quiz-content {
    /* margin-top: 52px; */
}

.question-list {
    list-style: none;
    .correct {
        background-color: $light_turquoise;
    }
}

ul[id$="answers"] {
    list-style: none;
}

.correct-question .incorrect-question {
    font-size: 12px;
}

.correct-question {
    color: $dust_turquoise;
}
.incorrect-question {
    color: $dust_purple;
}

.quiz-status {
    color: $turquoise;
}

.answer-forms {
    [id$=weight] {
        width: 68px;
    }
}

.inline.questions {
    margin-bottom: 32px;
    .question-counter {
        float: left;
        margin-right: 6px;
    }
}

label.control-label[for$="question"], .inline.questions .question-counter {
    font-size: 22px;
    font-weight: 600;
}

@media only screen and (min-width: 769px) {
    .quiz-list {
        li {
            margin-bottom: 20px;
        }
    }
}
.quiz-detail-menu {
    display: inline;
    margin: 20px 0 0 30px;
}

.quiz-closed {
    color: $bright_purple;
}

.quiz-public {
    color: $bright_turquoise;
}

.quiz-draft {
    color: $lilac_violet;
}

@media only screen and (max-width: 768px) {
    .quiz-list {
        li {
            margin-bottom: 12px;
        }
    }
}