@import "theme";

.quiz-content {
    /* margin-top: 52px; */
}

.question-list {
    list-style: none;
    .correct {
        background-color: $light_turquoise;
    }
}

ul[id$="answers"] {
    list-style: none;
}

.correct-question .incorrect-question {
    font-size: 12px;
}

.correct-question {
    color: $dust_turquoise;
}
.incorrect-question {
    color: $dust_purple;
}

.quiz-status {
    color: $turquoise;
}

.answer-forms {
    [id$=weight] {
        width: 68px;
    }
}

.inline.questions {
    margin-bottom: 32px;
    .question-counter {
        float: left;
        margin-right: 6px;
    }
}

label.control-label[for$="question"], .inline.questions .question-counter {
    font-size: 22px;
    font-weight: 600;
}

.quiz-list {
    li {
        margin-bottom: 12px;
    }

    .edit-button {
        padding: 0 6px;
    }
}

.quiz-detail-menu {
    display: inline;
}

.quiz-closed {
    color: $bright_purple;
}

.quiz-public {
    color: $bright_turquoise;
}

.quiz-draft {
    color: $lilac_violet;
}