{% extends "base.html" %}
{% load quiz %}
 
{% block head %}{{ quiz.title }}{% endblock %}

{% block content_title %}
{% endblock %}

{% block content %}
<div class="container">
	<h1>"{{ quiz.title }}" Results
		{% if has_rights_to_edit %}
		<span class="quiz-status">({{ quiz.access_status|capfirst }})</span>
			<div class="quiz-detail-menu">
				{% if not quiz.access_status == 'public' %}
					<a class="button-link publish-post-link post-menu-link btn submit-button" href="{% url 'quiz_publish' pk=quiz.pk %}">Publish</a>
				{% else %}
					<a class="button-link publish-post-link post-menu-link btn remove-button" href="{% url 'quiz_close' pk=quiz.pk %}">Close</a>
				{% endif %}
				<a class="button-link publish-post-link post-menu-link btn edit-button" href="{% url 'questions-edit' pk=quiz.pk %}">Edit Questions</a>
			</div>
		{% endif %}
	</h1>
	<p><strong>Author:</strong> <a href="{{ quiz.author.get_absolute_url }}">{{ quiz.author }}</a></p>
  <p><strong>Description:</strong> {{ quiz.summary }}</p>
  <p><strong>Categories:</strong> {% for category in quiz.category.all %} {{ category }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

	<h3>Your result: {{ score.correct_answer_count }}/{{ score.total_questions }}</h3>
	<ul class="question-list">
		{% for question in questions %}
			{% if score.correct_answers|intequaltest:question %}
				This wont work
			{% endif %}
			<li class="{% ifequal score.correct_answers.question question %}correct{% endifequal %}">
				{% if question.question in correct_answers_string %}
					<i class="fa fa-check correct-question" aria-hidden="true"></i>
				{% else %}
					<i class="fa fa-times incorrect-question" aria-hidden="true"></i>
				{% endif %}
				<span class="question-counter">{{ forloop.counter }}) </span>{{ question.question }}
				<ul>
					{% for answer in question.choices.all %}
						<li class="{% ifequal question.correct_answer answer %}correct{% endifequal %}">{{ answer.content }}</li>
					{% endfor %}
				</ul>
			</li>
		<hr>
		{% endfor %}
	</ul>
</div>
{% endblock %}