{% extends 'base.html' %}

{% block head %}
<title>Quiz App | Change password</title>
{% endblock %}

{% block content %}
    <div class="container col-md-10">
        <h2>Change password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-errors-block">
                {% for field in form %}
                    {% for error in field.errors %}
                        <p style="color:red;">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
            <button class="btn save" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}