{% extends "base.html" %}

{% block head %}<title>Quizzes Library info</title>{% endblock %}

{% block content %}
<h1>Quizzes Library Home</h1>

<p>Welcome to <em>QuizLibrary</em>, a very basic Django website developed as
platform for passing and creating quizzes.</p>

<h2>General Info:</h2>
  <ul>
    <li><a href="{% url 'quizzes' %}"><strong>Quizzes:</strong> {{ num_quizzes }}</a></li>
    <li><a href="{% url 'category-list' %}"><strong>Categories:</strong> {{ categories_count }}</a></li>
    <li><strong>Authors:</strong> {{ authors_count }}</li>
    <li><strong>Quizzes passed:</strong> {{ num_passed }}</li>
  </ul>

{% endblock %}