/* https://colorscheme.ru/#4i52tw0w0w0w0 */

$violet: #4013AF;
$turquoise: #009E8E;
$purple: #DE0052;

/* additional */
$dust_violet: #452B83;
$dark_violet: #250672;
$lilac_violet: #7147D7;
$light_violet: #8C6DD7;

$dust_purple: #A62A58;
$dark_purple: #900035;
$bright_purple: #EE3C7E;
$light_purple: #EE6B9C;

$dust_turquoise: #1E776D;
$dark_turquoise: #00675C;
$bright_turquoise: #34CFBE;
$light_turquoise: #5DCFC3;

$white: #ffffff;
$black: #000000;
$light_grey: #ebebeb;
$grayish: #f5f5f5;
